<em></em><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<title>Microblog</title>
<style>
#notif {
	margin-top: 2em;
	display: none;
}
</style>
</head>
<body ng-app='app'>
	<div ng-controller='PostsCtrl' class="container">
		<p id="notif" class='badge pull-right'>New post has been added!</p>
		<h1 >Posts : {{posts.length}}</h1>	
		<form role='form'>
			<div class='form-group'>
				<div class='input-group'>
					<input ng-model='postBody' class='form-control' />
					<span class='input-group-btn'>
						<button ng-click='addPost()' class='btn btn-success'>Add post</button>						
					</span>				
				</div>
			</div>		
		</form>		
		<ul class="list-group">
			<li ng-repeat='post in posts' class="list-group-item">
				<strong>@{{ post.username}}</strong>
				<span>{{ post.body }}</span>
				<button ng-click='remove($index)' class='glyphicon glyphicon-trash pull-right'></button>
            <button type="button" ng-click='downVote($index)' class="glyphicon glyphicon-thumbs-down pull-right"> {{post.voteDown}}</button>
			  	<button type="button" ng-click='upVote($index)'  class="glyphicon glyphicon-thumbs-up pull-right"> {{post.voteUp}}</button>
			</li>
		</ul>		
	 </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>document.write("<base href=\"" + document.location + "\" />");</script>
<script>
	var app = angular.module('app', [])

	app.controller('PostsCtrl', function ($scope) {
		$scope.posts = [
			{
				username: 'x',
				body: 'Lorem ipsum dolor sit amet, consectetur adipiscing eli...!',
				voteUp: 0,
				voteDown: 0
			},
			{
				username: 'y',
				body: 'Sed ut perspiciatis unde omnis...',
				voteUp: 0,
				voteDown: 0
			},
			{
				username: 'z',
				body: '...iste natus error sit voluptatem accusantium...',
				voteUp: 0,
				voteDown: 0
			}
		],
		
		$scope.addPost = function () {
			$scope.posts.unshift({
				username: 'mr.x',
				body: $scope.postBody,
				voteUp: 0,
				voteDown: 0
			})
			$scope.postBody = null
			showNotif()
		},
		$scope.remove = function(index){
		   $scope.posts.splice(index, 1)
		}
	    $scope.upVote = function (index) {
	        $scope.posts[index].voteUp++;	        
	    }
	
	    $scope.downVote = function (index) {
	        $scope.posts[index].voteDown++;
	    }

	})
	function showNotif() {
	var noti = document.getElementById("notif");
	    noti.style.display =  "block"
		 setTimeout(function() {noti.style.display =  "none";},3000);		
	}
	
</script>				
</body>
</html>
